<li id="comment-<%= c._id %>">
    
   
    <% if (locals.user && locals.user.id==c.user._id ) {%>
        
        <small > <a class="delete-comment-button"href="/comment/destroy/<%=c.id%>">Delete</a></small>
       <%}%>
          
    <p>
        <%=c.content%>
       
        <br>
        <small>
            <h4><%=c.user.name%></h4>
        </small>
<br>
         <!--  display the likes of this comment, if the user is logged in, then show the link to toggle likes, else, just show the count -->
           
            <small>
                <% if (locals.user){ %>
                    <a class="toggle-like-button" data-likes="<%= c.likes.length %>" href="/likes/toggle/?id=<%=c._id%>&type=Comment">
                            <%= c.likes.length %> Likes
                    </a>
                <% }else{ %>
                    <%= c.likes.length %> Likes
                <% } %>
            </small>
    </p>
 </li>