<li id="comment-<%= c._id %>">
  
    <p>
       <h4> <%=c.content%></h4>
       
        <br>
        <small>
        <%=c.user.name%>
        </small>
<br>
         <!--  display the likes of this comment, if the user is logged in, then show the link to toggle likes, else, just show the count -->
           
            <small>
                <% if (locals.user){ %>
                    <a class="toggle-like-button" data-likes="<%= c.likes.length %>" href="/likes/toggle/?id=<%=c._id%>&type=Comment">
                            <i id='like'class="fas fa-thumbs-up"></i> </a> <span><%= c.likes.length %></span>
                    
                <% }else{ %>
                    <i id='like'class="fas fa-thumbs-up"></i>    <%= c.likes.length %> 
                <% } %>
            </small>

              
   
    <% if (locals.user && (locals.user.id==c.user._id || locals.user.id==post.user._id)) {%>
        
        <small > <a class="delete-comment-button"href="/comment/destroy/<%=c.id%>">Delete</a></small>
       <%}%>
          
    </p>
 </li>