<li id="post-<%=post._id%>" class="card">
    <div class="container">

    <br>
   <!--  display the likes of this POst, if the user is logged in, then show the link to toggle likes, else, just show the count -->
    <small>
        <% if (locals.user){ %>
            <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                    <%= post.likes.length %> Likes
            </a>
        <% }else{ %>
            <%= post.likes.length %> Likes
        <% } %>
    </small>
   </p>
  
    <div class="comment-container">
        <% if(locals.user) {%>
        <form id='post-<%= post._id %>-comments-form'   action="/comment/create" method="POST">
           <input type="text" name="content"  placeholder="Type Here to add Comment">
           <input type="hidden" name="post" value="<%=post._id%>">
         
           <input type="submit" value="Add Comment">
       </form>
          
        <%}%>
           <p>
        <%=post.content%>
        <br>
        <small>
            <%=post.user.name%>
        </small>
    
    
        <br>
       <!--  display the likes of this POst, if the user is logged in, then show the link to toggle likes, else, just show the count -->
        <small>
            <% if (locals.user){ %>
                <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                        <%= post.likes.length %> Likes
                </a>
            <% }else{ %>
                <%= post.likes.length %> Likes
            <% } %>
        </small>
       </p>
      
        <div class="comment-container">
            <% if(locals.user) {%>
            <form id='post-<%= post._id %>-comments-form' action="/comment/create" method="POST">
               <input type="text" name="content"  placeholder="Type Here to add Comment">
               <input type="hidden" name="post" value="<%=post._id%>">
               <input type="submit" value="Add Comment">
           </form>
              
            <%}%>
        
    
        <div class="comments-list">
           <ul id="post-comments-<%=post._id%>">
               <% for (c of post.comment){%>
                  <%-include('_comment')-%>
                   <%}%>
    
           </ul>
          </div>
       </div>
    </div>
   </li> 