<% 
var post_time= new Date(post.updatedAt)
var today = new Date()
%>

<li id="post-<%=post._id%>" class="card">
    <div class="container feed-container">       
   <!--  display the likes of this POst, if the user is logged in, then show the link to toggle likes, else, just show the count -->
<p>
<script>
    console.log('check date')
    console.log(`<%=post_time.toLocaleDateString()%>`)
    let user=$('#one');
    console.log(user);
    let arr= user[0];
    console.log('arr is ',arr);
    let z=  arr.findIndex(x => x._id == post.user)
    console.log(z);
    if (user.frefriendships.findIndex(x => x._id == post.user)!=-1)
    {
        console.log('inside if ');
    }

</script>

<div class="header">
    <%if (post.user.avatar) {%>
        <img class="img-small"src="<%=post.user.avatar%>" class='img-small'>
    <%} else{%>
        <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" class='img-small'>
    <%}%>  
    <div class='title'>
        <div><%=post.user.name%></div>
        <div class="date-time">
            <% if (post_time.toLocaleDateString() != today.toLocaleDateString()) {%>
                <%=post_time.toLocaleDateString('default', {weekday: 'short'})-%>, <%=post_time.getDate()-%> <%=post_time.toLocaleDateString('default', {month: 'short'})-%> <%=post_time.getYear() + 1900-%>
            <%} else {%>
                <%=post_time.toLocaleTimeString("en-US", {hour: '2-digit', minute:'2-digit'})-%>
            <%}%>
        </div>
    </div>
    
    <% if (locals.user && locals.user.id == post.user.id){ %>
        <div class="drop-down">
            <i class="fa fa-ellipsis-v cursor"></i>
            <ul>
                <li><a class='hover-red delete-post-button' href="/post/destroy/<%= post.id %>"><i class="fa fa-trash"></i><span>Delete</span></a></li>
            </ul>
        </div>
    <% } %>
    
</div>


<br>
<br>

<%=post.content%>

    <br>
    <br>
    <%if(post.Postfile) {%>
    <img src="<%=post.Postfile%>" class="post-img">
    <%}%>
    

    <div class="post-bottom">
        <!--  display the likes of this POst, if the user is logged in, then show the link to toggle likes, else, just show the count -->
    </div>
    <% if (locals.user){ %>
        <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                <i id='like'class="fas fa-thumbs-up"></i><%= post.likes.length %></a>
    <% }else{ %>
        <i id='like'class="fas fa-thumbs-up"></i> <%= post.likes.length %> 
    <% } %>
     <br>  
     <br>
    
        <div class="comment-container">
        <div class="comments-list">
            <!--<p><%=post.comment.length%></p>-->
            <% if(locals.user) {%>
              <form id='post-<%= post._id %>-comments-form' action="/comment/create" method="POST">
                  <div class="input-group">
                      <input type="text" name="content" placeholder="Comment...">
                      <button type="submit" form="post-<%= post._id %>-comments-form" value="Submit"><i class="fa fa-paper-plane"></i></button>
                      <input type="hidden" name="post" value="<%=post._id%>">
                  </div>
                
             </form>
                
            <%}%>

            <% if (post.comment.length > 0) {%>
        <strong>Comments</strong>
           <ul id="post-comments-<%=post._id%>">
               <% for (c of post.comment){%>
                  <%-include('_comment')-%>
                   <%}%>
    
           </ul>
           <%}%>
          </div>
<br>
<br>
       </div>
    </div>
   </li> 