<li id="post-<%=post._id%>" class="card">
    <div class="container feed-container">       
   <!--  display the likes of this POst, if the user is logged in, then show the link to toggle likes, else, just show the count -->
<p>
<script>

    let user=$('#one');
    console.log(user);
    let arr= user[0];
    console.log('arr is ',arr);
    let z=  arr.findIndex(x => x._id == post.user)
    console.log(z);
    if (user.frefriendships.findIndex(x => x._id == post.user)!=-1)
    {
        console.log('inside if ');
    }

</script>

<div class="header">
    <%if (post.user.avatar) {%>
        <img class="img-small"src="<%=post.user.avatar%>" class='img-small'>
    <%} else{%>
        <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" class='img-small'>
    <%}%>  
    <span class='title'><%=post.user.name%></span>
    <% if (locals.user && locals.user.id == post.user.id){ %>
        <!--<a class="delete-post-button"  href="/post/destroy/<%= post.id %>">Delete</a>-->
        <div class="drop-down">
            <i class="fa fa-ellipsis-v cursor"></i>
            <ul>
                <li class="hover-red"><a href="/post/destroy/<%= post.id %>"><i class="fa fa-trash"></i><span>Delete</span></a></li>
            </ul>
        </div>
    <% } %>
    
</div>


<br>
<br>

<%=post.content%>

    <br>
    <br>
    <%if(post.Postfile) {%>
    <img src="<%=post.Postfile%>"  style="height: 300px; width:60%">
    <%}%>
    
<br>
       <!--  display the likes of this POst, if the user is logged in, then show the link to toggle likes, else, just show the count -->
        <small>
            <% if (locals.user){ %>
                <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                        <i id='like'class="fas fa-thumbs-up"></i></a> <span><%= post.likes.length %></span>
            <% }else{ %>
                <i id='like'class="fas fa-thumbs-up"></i> <%= post.likes.length %> 
            <% } %>
        </small>
     <br>
     <br>
    
        <div class="comment-container">
           <small style='color:blue; font-style: italic;font-weight:bold;'>Comments</small>
        <div class="comments-list">
            <p><%=post.comment.length%></p>
           <ul id="post-comments-<%=post._id%>">
               <% for (c of post.comment){%>
                  <%-include('_comment')-%>
                   <%}%>
    
           </ul>
          </div>
<br>
<br>
          <% if(locals.user) {%>
            <form id='post-<%= post._id %>-comments-form' action="/comment/create" method="POST">
               <input class='form-inp'type="text" name="content"  placeholder="Type Here to add Comment">
               <input type="hidden" name="post" value="<%=post._id%>">
              
               <input class='btn' type="submit" value="Comment">
           </form>
              
            <%}%>
       </div>
    </div>
   </li> 