<div class="sidebar-container">
    <a href="/user/profile/<%=user._id%>" class="item">
      <% if(user.avatar){%>
      <img  src='<%=user.avatar%>' alt='<%=user.name%>'class="img">
      <%} else{%>
        <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" class='img'>
        <%}%>
      <span class="white-text">
        <%=user.name-%>
      </span>

      
    </a>
    <br>
    <br>
    <%if(locals.user.request){%>
      <ul >
      <% for (r of locals.user.request){%>
        <li>
    
          <img class='img' src="<%=r.avatar%>"> <span class='title'><%=r.name%></span>
          <br>
         <a href='/freind/add?id=<%=r._id%>&name=<%=user.id%>'><button class='btn'>Accept</button> <a href="/user/removefriend/?id=<%=r.id%>&type=<%=locals.user.id %>"><button>Reject</button></a>
        </li>
      <%}%>
     </ul>
     <%}%>
  </div>