

<div id='freind'>
<img class="profile-pic"src="<%=profile_user.avatar%>" alt="<%=profile_user.name%>">

<div id='details'>
<p class='user-name'><%= profile_user.name %></p>
<a href="/user/removefriend/?id=<%=id%>&type=<%=locals.user.id %>"><button class='UnFriend'>UnFriend</button></a>
<br>
<br>
<button id="chatbutton">Chat</button>
</div>
<div style='display: none;'id="chat" >

    <%- include('_chat_box') -%>
</div>

</div>
<script>

$('#chatbutton').click(function()
    {
       $('#chat').toggle();
    }
);
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js'></script>
<script src='/js/chat_engine.js'></script>
<% if (locals.user) {%>
<script>

  new ChatEngine('user-chat-box','<%=locals.user.email%>','<%=id%>');
</script>
<%}%>
