


<div id="home-container" class="home-container">
<% if (locals.user) {%>

<section id="feed-posts" class="feed-posts">
    <form action="/post/create" id="post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Want to share something..." class="post-textarea"></textarea>

        <input type="submit" value="Post">
    </form>

<%}%>

<div id="post-container" class="post-container">
    <ul>
  
       <% for (post of posts) { %>
         <%-include('_post')-%>
          <% } %>
    </ul>
  
  </div>

</section>


<aside class="sidebar" id="sidebar">
  <%if (locals.user){%>
    <div class="sidebar-container">
      <a href="/user/profile/<%=user._id%>" class="item">
        <img src="<%=user.avatar%>" alt="<%=user.name%>" class="img">
        <span>
          <%=user.name-%>
        </span>
      </a>
    </div>
  <%}%>
</aside>

<aside class="friends-sidebar" id="friends-sidebar">
  <%if (locals.user){%>
    <div class="sidebar-container">
      <ul>
        <% for (freind of locals.user.friendships){%>
          <li class="item">
            <a href='/user/profile-freind/?id=<%=freind.id%>&type=<%=freind.name%>'> <%=freind.name%></a>
          </li>
      <% } %>
      </ul>
    </div>
  <%}%>
</aside>

<!--  <section id="Freind" class="friends">
<h4>Freinds</h4>
  <%if (locals.user){%>
    
    <% for (freind of locals.user.friendships){%>
      <ul>
        <li >
            <a href='/user/profile-freind/?id=<%=freind.id%>&type=<%=freind.name%>'> <%=freind.name%></a>
        </li> 
      </ul>
      <%}%>
      <%}%>
</section>  -->


  <!--<section id="user-friends" class="user-friends">
    <h4>Users</h4>
    <% for(u of all_users){%>
        <p>
            <a href="/user/profile/<%= u.id %>"><%= u.name %></a>
            
        </p>
    <% } %>

</section>
-->
</div>


<script src="/js/home_comment.js" ></script>
  <script src="/js/home_post.js"></script>
  <script src="/js/toggle-like.js"></script>
<script>
    $('.toggle-like-button').each(function(){

        let self = this;
        console.log(this);
        let toggleLike = new ToggleLike(self);
    });
</script>
