
<link rel="stylesheet" href="/css/home.css">

<link rel="stylesheet" href="/css/chatbox.css">

<h1>Welcome to <%=title%> </h1>

<div id="home-container">
<% if (locals.user) {%>
<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/post/create" id="post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
        <input type="submit" value="Post">
    </form>

<%}%>






<div id="post-container">
    <ul>
  
       <% for (post of posts) { %>
         <%-include('_post')-%>
          <% } %>
    </ul>
  
  </div>

</section>

<section id="Freind">
<h4>Freinds</h4>
  <%if (locals.user){%>
    
    <% for (freind of locals.user.friendships){%>
      <ul>
        <l1 >
            <a href='/user/profile-freind/<%=freind%>'> <%=freind%></a>
            
        </li> 
      </ul>
      <%}%>
      <%}%>
</section>

  <section id="user-friends">
    <h4>Users</h4>
    <% for(u of all_users){%>
        <p>
            <a href="/user/profile/<%= u.id %>"><%= u.name %></a>
            
        </p>
    <% } %>

</section>
</div>

<%- include('_chat_box') -%>
<script src="/js/home_comment.js" ></script>
  <script src="/js/home_post.js"></script>
  <script src="/js/toggle-like.js"></script>
<script>
    $('.toggle-like-button').each(function(){

        let self = this;
        console.log(this);
        let toggleLike = new ToggleLike(self);
    });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js'></script>
<script src='/js/chat_engine.js'></script>
