<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <link rel='stylesheet'href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Muli:200,400,700,900&display=swap" rel="stylesheet"> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="<%=assetPath('js/third-party/particles.min.js')%>"></script>
        

        <link rel="stylesheet" href="<%=assetPath('css/index.css')%>">
        
        <%- style %>
        
    </head>

    <body>
        <%- include('_header'); %>

        
        <main class="main" id="layout-main">
            <%- body %>

        </main>


        <%- include('_footer'); %>

        <%- script %>
       <script>
         <% if (flash.success && flash.success.length>0) {%>
             
            new Noty({
                theme:'relax',
                text:"<%=flash.success%>",
               type:'success', 
               layout:'topRight',
               timeout:1500

            }).show();

                <%}%>

                <% if (flash.error && flash.error.length>0) {%>
             
             new Noty({
                 theme:'relax',
                 text:"<%=flash.error%>",
                type:'error', 
                layout:'topRight',
                timeout:1500
 
             }).show();
 
                 <%}%>
        </script>
        
        <script src="<%=assetPath('js/layout.js')%>"></script>
    </body>
</html>