


<ul id="search-result">
   <% for (p_user of users){%>
   <a href="/user/profile/<%=p_user._id%>">
    <li id='info'>
       

            <%if (p_user.avatar) {%>
                <img id="pic"src="<%=p_user.avatar%>">
                <%} else{%>
                
                <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" id='pic'>
                <%}%>
               <span class='title'> <%=p_user.name%></span>
              <a href='/freind/add?id=<%=p_user._id%>&name=<%=user.id%>'> <button id='add'>Add Freind</button></a>
 
    </li></a>
    <%}%>
</ul>