


<ul id="search-result">
   <% for (p_user of users){%>
   <a href="/user/profile/<%=p_user._id%>">
    <li id='info'>
        <div class='usercard col-lg-3'>
             
            <%if (p_user.avatar) {%>
            <img class=”usercard-image” src='<%=p_user.avatar%>'>
            <%} else{%>
                <img class=”usercard-image” src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png">
                <%}%>   
           
            <h4 class=”usercard-name”><%=p_user.name%></h4>
            <p class=”usercard-username”><%p_user.email%></p>
          
            <form action='' method='get' class='add_friend'>
                    <input type='hidden' name='receiverName' class='receiverName' value='<%=p_user.name%>'>
                    <input type='hidden' name='sender-name' class='sender-name' value='<%=user.name%>'>
                    <a href='/freind/add?id=<%=p_user._id%>&name=<%=user.id%>'>   <button type='submit' id=''  class='usercard-button'><i class=”fa fa-user”></i> Add Friend</button></a>
                    </form>
            </div>     
 
    </li></a>
    <%}%>        
</ul>