
<link rel="stylesheet" type="text/css" href="/css/user_profile.css">

<img id="profile-pic"src="<%=profile_user.avatar%>" alt="<%=profile_user.name%>">


<% if(user.id == profile_user.id){ %>
    <!-- if user matches then show the form -->
    <form action="/user/update/<%= profile_user.id %>" enctype ='multipart/form-data' method="POST">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
        <input type="file" name='avatar' placeholder="Profile picture">
        <input type="submit"  value="Update">
    </form>
    
<%}else{%>    
    <!-- else show only the profile info -->
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
    <a href="/freind/add?id=<%=profile_user.id%>&name=<%=user.id%>">Add Freind</a>
<%} %>
